body {
  background-color: #e6e7e6;
  font-family: 'Nuosu SIL', serif;
  color: #272525;
  font-size: 18px;
}
.sliced-images {
  width: 1067px;
  margin: 0px auto;
}
.narrow-text {
  width: 600px;
  margin: 0px auto;
  text-indent: 50px;
}
.last {
  padding-right: 170px;
}
.no-indent {
  text-indent: 0px;
}
.center-text {
  text-align: center;
}
a {
  color: #272525;
  text-underline-offset: 3px;
}
/* img {
  border:1px solid black;
}
p {
  margin-bottom: 20px;
} */
