* {
  color: red;
}

li {
  margin:10px;
}
ul#top-nav li {
  display: inline-block;
  margin: 0px;
  padding: 10px;
}

.pills {
  background-color: #f1f1f1;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
}

.pills:hover {
  background-color: #ddd;
}


/* Whatever is in here is not executed by teh browser. */
.pills a {
  text-decoration: none;
  color: #000;
  /* color: rgba(255, 255, 255, .4) */
}

.pills a:hover {
  color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.left {
  float: left;
  width: 33%;
}

.left-third {
  float: left;
  width: 33%;
}

.left-two-thirds {
  float: left;
  width: 66%;
}

.right {
  float: right;
  width: 33%;
}

.clear {
  clear: both;
}
